<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Share Tweet Link</p>
        </header>

        <section class="modal-card-body">

            <p class="tweet-url">
                <strong>{{ link }}</strong>
            </p>

        </section>
    </div>
</template>

<script>

export default {
    name: 'LinkTweetForm',

    props: {
        link: {
            type: String,
            required: true
        }
    },
};
</script>

<style scoped>
.error {
    padding: 10px 0;
}
</style>
