<template>
    <div class="tweets-container">
        <div class="buttons">
            <b-button type="is-info" @click="sortByDate">New</b-button>
            <b-button type="is-info" @click="sortByLikes">Popular</b-button>
        </div>
        <transition-group name="slide-prev" tag="div">
            <template v-for="tweet in orderedTweets">
                <TweetPreview
                    :key="tweet.id"
                    :tweet="tweet"
                    @click="onTweetClick"
                />
            </template>
        </transition-group>
        <infinite-loading @infinite="infiniteHandler">
            <div slot="no-more" />
            <div slot="no-results" />
            <div slot="spinner" />
        </infinite-loading>
    </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';
import TweetPreview from './TweetPreview.vue';

export default {
    name: 'TweetPreviewList',

    props: {
        tweets: {
            type: Array,
            required: true
        },
    },

    data() {
        return {
            orderBy: ''
        };
    },

    components: {
        TweetPreview,
        InfiniteLoading,
    },

    methods: {
        onTweetClick(tweet) {
            this.$router.push({ name: 'tweet-page', params: { id: tweet.id } });
        },

        infiniteHandler($state) {
            this.$emit('infinite', $state);
        },

        sortByObjectProperty(prop) {
            return (a, b) => {
                if (a[prop] > b[prop])
                    return -1;
                if (a[prop] < b[prop])
                    return 1;
                return 0;
            }
        },

        sortByDate() {
            this.orderBy = 'created';
        },

        sortByLikes() {
            this.orderBy = 'likesCount';
        }
    },

    computed: {
        orderedTweets: function () {
            return this.tweets.sort(this.sortByObjectProperty(this.orderBy));
        },
    }
};
</script>

<style scoped lang="scss">
.tweets-container {
    padding-bottom: 20px;
}
</style>
