<template>
    <div class="tweets-container">
        <transition-group name="slide-prev" tag="div">
            <template v-for="user in users">
                <User
                        :key="user.id"
                        :user="user"
                />
            </template>
        </transition-group>
    </div>
</template>

<script>
import User from './User.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'UserLikedTweetForm',

    props: {
        usersId: {
            type: Array,
            required: true
        },
    },

    async created() {
        try {
            await this.fetchUsers({
                page: 1
            });
        } catch (error) {
            console.error(error.message);
        }
    },

    computed: {
        ...mapGetters('user', [
            'getUsersByIds'
        ]),

        ...mapActions('user', [
            'fetchUsers',
        ]),

        users() {
            return this.getUsersByIds(this.usersId);
        }
    },

    components: {
        User,
    },
};
</script>

<style scoped lang="scss">
    .tweets-container {
        padding-bottom: 20px;
    }
</style>
