<template>
    <article class="media">
        <figure class="media-left">
            <router-link
                v-if="user.avatar"
                class="image is-48x48 is-square"
                :to="{ name: 'user-page', params: { id: user.id } }"
            >
                <img class="is-rounded fit" :src="user.avatar">
            </router-link>

            <router-link v-else :to="{ name: 'user-page', params: { id: user.id } }">
                <DefaultAvatar class="image is-48x48" :user="user" />
            </router-link>
        </figure>
    </article>
</template>

<script>

import DefaultAvatar from '../../common/DefaultAvatar.vue';
import showStatusToast from '../../mixin/showStatusToast';

export default {
    name: 'User',

    components: {
        DefaultAvatar,
    },

    mixins: [showStatusToast],

    props: {
        user: {
            type: Object,
            required: true,
        },
    },
};
</script>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/initial-variables";
@import "../../../styles/common";

nav {
    margin-left: -8px;
}
</style>
